.study-page .study-name-banner {
    background-color: #ffffff;
    color: black;
    padding: 20px 0;
    text-align: center;
    /* margin-bottom: 20px; */
}

.study-page {
    display: flex;
    flex-direction: column; /* 컨텐츠를 세로로 쌓기 */
    /* height: 100vh; 전체 뷰포트 높이 */
    /* overflow: hidden; 전체 페이지에서 스크롤 비활성화 */
}

.study-page .container {
    padding: 20px 120px;
}

.study-page .nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
}

.study-page .study-tabs .nav-link {
    color: #7b7b7b;
    border: 1px solid #ea8400;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    margin-right: 5px; /* 탭 간 간격 */
    font-size: 16px;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.study-page .study-tabs .nav-link.active {
    /* font-size: 1.05em; */
    background-color: #ea8400;
    border: 1px solid #ea8400;
    color: white;
    border-bottom: 3px solid #ea8400;
    z-index: 1;
}

.tab-card {
    border: 1px solid #ea8400;
    box-shadow: 0 4px 8px rgba(234, 132, 0, 0.5); 
    /* border-top: 1px solid rgba(0, 144, 99, 0.75); 카드 상단에 섬세한 테두리 추가 */
    margin-top: -1px; /* 카드를 탭 바로 밑에 붙이도록 조정 */
    width: 1100px;
}

.tab-card .card-body {
    max-height: calc(100vh - 20px); /* 헤더, 탭 등을 제외한 높이 */
    overflow-y: auto; /* 내용이 넘칠 때만 카드 내 스크롤 활성화 */
}

.study-body {
    /* display: flex; */
    flex-grow: 1;
    /* overflow: hidden; */
    margin-left: 280px; 
}

.timer-container {
    margin-top: 200px; /* 타이머를 탭과 분리하기 위해 상단 여백을 추가 */
    text-align: center; /* 타이머를 중앙에 배치 */
    position: fixed;
    right: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px; /* 화면이 작을 때 패딩 조정 */
    }

    .nav-link {
        font-size: 14px; /* 작은 화면에서 폰트 크기 줄이기 */
    }

    .study-name-banner {
        padding: 10px 0; /* 작은 화면에서 상단 배너 패딩 조정 */
    }

    .study-body {
        height: auto;
    }
}

/* 스크롤바 전체 스타일 */
.card-body::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.card-body::-webkit-scrollbar-thumb {
    background-color: #ea8400; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 스크롤바 핸들 모서리 둥글기 */
}

/* 스크롤바 트랙 */
.card-body::-webkit-scrollbar-track {
    background: #fff2e275; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 모서리 둥글기 */
}
