.timer-header {
    border-bottom: 1px solid rgba(146, 146, 146, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.body-title {
    color: #929292;
    font-size: 0.8em;
}

.body-timer {
    font-size: 1.5em;
    padding-bottom: 15px;
}

.timer-button {
    width: 100px;
    height: 70px;
}

.popup {
    box-shadow: 0 4px 8px rgba(0, 144, 99, 0.5);
}
