.study-problems {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.study-problems-header {
    color: black;
    font-size: 1.5em;
    display: flex;
    align-self: flex-start;
}

.study-problems-list {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 0;
    height: 225px;
}

.study-problem-item {
    padding: 10px 0;
}

.study-problem-item input[type='checkbox'] {
    width: 20px; /* 체크박스의 너비 */
    height: 20px; /* 체크박스의 높이 */
    margin-right: 10px;
}

.study-problem-item .problem-info {
    display: flex;
    align-items: center;
    gap: 20px; /* 문제은행 이름, 출제자, 문제 수 사이의 간격 */
    width: 100%;
    justify-content: space-between;
}

.problem-name {
    flex: 2;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.problem-count {
    flex-shrink: 0;
    text-align: right;
    width: 200px;
}

/* 스크롤바 전체 스타일 */
.study-problems-list::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.study-problems-list::-webkit-scrollbar-thumb {
    background-color: #1f875b; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 스크롤바 핸들 모서리 둥글기 */
}

/* 스크롤바 트랙 */
.study-problems-list::-webkit-scrollbar-track {
    background: #a8c4a8; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 모서리 둥글기 */
}

.problem-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 우측 하단에 위치하게 설정 */
    margin-top: 10px;
    gap: 10px; /* 요소 간의 간격 추가 */
}

.problem-actions label {
    margin-right: 5px;
}

.max-questions-dropdown {
    width: auto !important; /* 기본 설정 덮어쓰기 */
    display: inline-block; /* 드롭다운을 인라인 블록 요소로 설정 */
}

.solve-problems-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.solve-problems-button:hover {
    background-color: #0056b3;
}
