.personal-goals {
    background-color: white;
    padding: 7px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
    /* width: 330px; */
    padding-left: 15px;
}

.goal-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.goal-container {
    height: 225px;
    overflow-y: auto;
}

.goal {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow-y: auto;
}

.goal-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.goal-name {
    font-weight: bold;
    margin-right: 20px;
}

.goal-content {
    flex: 1;
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 내용이 요소 크기를 초과할 경우 숨김 */
    text-overflow: ellipsis; /* 내용이 요소 크기를 초과할 경우 말줄임표로 표시 */
    max-width: 200px; /* 텍스트의 최대 너비 설정 */
}

/* 스크롤바 전체 스타일 */
.goal-container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.goal-container::-webkit-scrollbar-thumb {
    background-color: #1f875b; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 스크롤바 핸들 모서리 둥글기 */
}

/* 스크롤바 트랙 */
.goal-container::-webkit-scrollbar-track {
    background: #a8c4a8; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 모서리 둥글기 */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .personal-goals {
        padding: 7px;
        margin: 20px;
        height: 300px; /* 높이 조정 */
        flex: 1; /* 플렉스 아이템이 공간을 균등하게 차지하도록 설정 */
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .personal-goals {
        padding: 7px;
        margin: 10px;
        height: 200px; /* 더 작은 화면에서는 높이 감소 */
        width: 100%; /* 모바일 환경에서는 너비를 100%로 설정 */
    }

    .goal-header {
        font-size: 1em; /* 폰트 사이즈 감소 */
    }

    .goal {
        flex-direction: column; /* 아이템을 세로로 정렬 */
        align-items: flex-start;
    }

    .goal-content {
        max-width: 100%; /* 컨텐츠 너비를 100%로 조정 */
    }
}
