.goal-list {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 320px;
    padding-left: 15px;
}

.goal-list-header {
    display: flex;
    justify-content: space-between;
}

.goal-list-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.goal-list-container {
    height: 230px;
    overflow-y: auto;
}

.goal {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow-y: auto;
    justify-content: space-between;
}

.goal-info {
    display: flex;
    flex-direction: row;
}

.goal-content {
    flex: 1;
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 내용이 요소 크기를 초과할 경우 숨김 */
    text-overflow: ellipsis; /* 내용이 요소 크기를 초과할 경우 말줄임표로 표시 */
    max-width: 200px; /* 텍스트의 최대 너비 설정 */
}

.goal-status {
    font-weight: bold;
    margin-right: 10px;
}

/* 스크롤바 전체 스타일 */
.goal-list-container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.goal-list-container::-webkit-scrollbar-thumb {
    background-color: #1f875b; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 스크롤바 핸들 모서리 둥글기 */
}

/* 스크롤바 트랙 */
.goal-list-container::-webkit-scrollbar-track {
    background: #a8c4a8; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 모서리 둥글기 */
}
