.study-announcements-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    color: #333;
}

.announcement-container {
    max-height: 600px;
    overflow-y: auto;
}

/* 스크롤바 전체 스타일 */
.announcement-container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

/* 스크롤바 핸들 */
.announcement-container::-webkit-scrollbar-thumb {
    background-color: #ea8400; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 스크롤바 핸들 모서리 둥글기 */
}

/* 스크롤바 트랙 */
.announcement-container::-webkit-scrollbar-track {
    background: #a8c4a8; /* 스크롤바 트랙 색상 */
    border-radius: 10px; /* 스크롤바 트랙 모서리 둥글기 */
}
