body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin-top: 200px !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    width:800px;
    justify-content: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
    /*max-height:600px; /* 컨테이너의 최대 높이 */
}

.card-type {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-bottom: -6px;
}

.card-div {
    width: calc(33.333% - 20px); 
    background-color: #fff;
    margin-bottom: 10px; 
    border: 1px solid #cacaca;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.card-header {
    height: 90px; 
    background-size: cover; 
    background-position: center; 
}

.card-body {
    padding: 20px;
    text-align: center;
}

.study-name {
    font-size: 20px;
    font-weight: 800;
    margin: 8px;
}

.card-title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.card-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.study-entry-btn {
    background-color: #009063;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 84%;
    border:1px solid #009063;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;
}

.study-leave-btn {
    background-color: #fff;
    color: #929292;
    font-weight: 400;
    font-size: 12px;
    width: 84%;
    border:1px solid #929292;
    border-radius: 4px;
    padding:2px;
    margin-bottom: 18px;
}

.study-request-btn {
    background-color: #fff;
    color: #009063;
    font-weight: 600;
    font-size: 14px;
    width: 84%;
    border:1px solid #009063;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 18px;
}

