body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin-top: 200px !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    width: 800px;
    justify-content: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
    /*max-height:600px; /* 컨테이너의 최대 높이 */
}

.card-type {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-bottom: -6px;
}

.card-div {
    width: calc(33.333% - 20px);
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.card-header {
    height: 90px;
    background-size: cover;
    background-position: center;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.study-name {
    font-size: 20px;
    font-weight: 800;
    margin: 8px;
}

.card-title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.card-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.study-entry-btn {
    background-color: #009063;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 84%;
    border: 1px solid #009063;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;
}

.study-leave-btn {
    background-color: #fff;
    color: #929292;
    font-weight: 400;
    font-size: 12px;
    width: 84%;
    border: 1px solid #929292;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 18px;
}

.study-leave-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type="text"] {
  width: 80% !important;
  padding: 10px;
  margin: 10px 0;
}

.study-leave-modal h5 {
  font-weight: 700;
  margin-top:10px;
}

.buttons-container {
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin: 10px 0px;
}

.study-leave-btn-confirm {
    padding: 10px 40px;
    border: none;
    background-color: #6c3d00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    flex-grow: 1;
}

.study-leave-btn-cancel {
  padding: 10px 40px;
  border: 1px solid #6c3d00;
  background-color: #fff;
  color: #6c3d00;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  flex-grow: 1;
}

.study-request-btn {
    background-color: #fff;
    color: #009063;
    font-weight: 600;
    font-size: 14px;
    width: 84%;
    border: 1px solid #009063;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 18px;
}


.list-container ul {
    list-style-type: none;
    padding: 0;
    width: 460px;
}

.list-container li {
    display: flex;
    align-items: flex-start; /* 아이템들을 위쪽 정렬 */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  .list-container li:last-child {
    border-bottom: none; /* 마지막 요소의 border-bottom 제거 */
  }
  

.applicant-img {
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: top left;
    border-radius: 50%;
    margin-right: 10px;
}

.applicant-info {
    flex: 1;
    min-width: 0;
  }

  .applicant-info p {
    margin: 0;
  }

  .applicant-item {
    padding: 10px 0px;
  }

.applicant-nickname {
    font-weight: 700;
    font-size: 14px;
  }

  .applicant-content {
    font-weight: 500;
    font-size: 12px;
    word-wrap: break-word; 
    word-break: break-all;
  }

  .applicant-actions {
    display: flex;
    gap: 6px;
    margin-left: 10px;
  }
  
  .applicant-apply-btn {
    padding: 5px 12px;
    border: none;
    background-color: #6c3d00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .applicant-refuse-btn {
    padding: 5px 12px;
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 5px;
    font-size: 14px;
  }
