body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 90vh;
    background: #ffffff;
}

.profile-container {
    background: white;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #ddd;
    text-align: center;
    width: 960px;
    margin-top: 30px;
}

.card-type {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
}

.profile-image {
    display: inline-block;
    position: relative;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.edited-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.image-edit-btn {
    position: absolute;
    width: 27px;
    top: 70px;
    left: 70px;
    background: none;
    border: none;
    cursor: pointer;
}

.nickname-container {
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
}

.nickname-field {
    display: flex; /* 입력 필드와 버튼을 수평 정렬 */
    width: 40%; 
    align-items: center;
}

.nickname-title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.nickname-info {
    font-size: 15px;
    color: #929292;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 52px - 16px);
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    float: left;
    margin-right: 8px;
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간 차지 */
}

input[type="text"], .nickname-edit-btn {
    height: 45px;  /* 공통 높이 설정 */
    padding: 8px 10px;  /* 적절한 패딩으로 높이 조정 */
    border-radius: 6px;  /* 통일된 테두리 둥글기 */
}

input[type="text"]:focus {
    border-color: #009063;
}

.nickname-edit-btn {
    height: 45px;
    padding: 4px 26px;
    background-color: #009063;
    color: white;
    font-weight: bold;
    border: 1px solid #009063;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    white-space: nowrap;
}
