body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    background: #ffffff;
}

.div-container-mypage {
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
    overflow: visible;
    margin-left: 280px; 
    margin-bottom: 40px;
    max-width: 880px; 
    width: calc(100% - 300px);
    transition: width 0.3s ease;
  }

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.card-type-mypage {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 30px;
}

.profile-image {
    position: relative;
    width: 20%;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 20%;
    text-align: center;
    cursor: pointer;
}

.edited-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.image-edit-btn {
    position: absolute;
    width: 24px;
    top: 60px;  
    left: 100px;
    background: none;
    border: none;
    cursor: pointer;
}

.nickname-container {
    margin-left: 20px;
    margin-top: 10px;
    width: 50%;
    flex-direction: column;
    display: flex;
}

.nickname-title {
    font-size: 18px;
    font-weight: 700;
}

.nickname-info {
    font-size: 13px;
    font-weight: 400;
    color: #929292;
    margin-bottom: 10px;
    margin-left: 6px;
}

.nickname-field {
    display: flex; 
    width: 70%; 
    align-items: center;
    margin-top: 2px;
}

input[type="text"] {
    width: calc(100% - 52px - 16px);
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    float: left;
    margin-right: 8px;
    flex-grow: 1; 
}

input[type="text"], .nickname-edit-btn {
    height: 44px;  
    padding: 8px 12px;  
    border-radius: 6px;  
    font-size: 15px;
}

input[type="text"]:focus {
    border-color: #ea8400;
}

.nickname-edit-btn {
    height: 44px;
    padding: 4px 24px;
    background-color: #ea8400;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    white-space: nowrap;
    font-size: 15px;
}


@media screen and (max-width: 1100px) {

    .card-type-mypage {
        font-size: 20px;
        margin-bottom: 12px;
      }

    .edited-image {
        width: 86px;
        height: 86px;
    }
    
    .image-edit-btn {
        width: 22px;
        top: 60px;  
        left: 90px;
    }
    
    .nickname-title {
        font-size: 16px;
        margin-top: 2px;
    }
    
    .nickname-info {
        font-size: 12px;
    }
    
    input[type="text"] {
        width: calc(100% - 52px - 16px);
        margin-right: 8px;
        font-size: 13px;
    }
    
    input[type="text"], .nickname-edit-btn {
        height: 40px;  
        padding: 8px 12px;  
    }
    
    .nickname-edit-btn {
        height: 40px;
        padding: 4px 22px;
        font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    .edited-image {
        width: 80px;
        height: 80px;
    }
    
    .image-edit-btn {
        position: absolute;
        width: 20px;
        top: 54px;
        left: 224px;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .nickname-title {
        font-size: 14px;
        margin-top: 2px;
    }
    
    .nickname-info {
        font-size: 12px;
    }
    
    input[type="text"] {
        width: calc(100% - 52px - 16px);
        margin-right: 6px;
        font-size: 12px;
    }
    
    input[type="text"], .nickname-edit-btn {
        height: 36px;  
        padding: 8px 12px;  
    }
    
    .nickname-edit-btn {
        height: 36px;
        padding: 4px 22px;
        font-size: 12px;
    }
}