.study-info,
.study-ranking {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline-block; /* 옆에 배치 */
    flex: 1;
    margin-bottom: 20px;
    justify-content: space-around;
}

.ranking-header {
    margin-top: 7px;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.study-ranking ul {
    list-style: none;
    padding: 0;
    margin-top: 13px;
    flex-grow: 1;
    /* padding: 10px; */
}

.study-ranking li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    border-radius: 5px;
}

.rank {
    margin-right: 10px;
    font-size: 1.5em;
}

.name {
    flex-grow: 1;
}

.hours {
    font-weight: bold;
    color: #009063;
}
